<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>{% block title %}PROCHE RMCA provenance project{% endblock %}</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="./js/bootstrap_5_2_3/dist/css/bootstrap.css" type="text/css"/>
			<link rel="stylesheet" href="./js/select2/dist/css/select2.css" type="text/css"/>
			<link rel="stylesheet" href="./css/main.css" type="text/css"/>
		{% endblock %}
		{% block javascripts %}
			<script src="./js/jquery/jquery-3.6.2.min.js"></script>
			<script src="./js/bootstrap_5_2_3/dist/js/bootstrap.bundle.js"></script>
            <script src="./js/select2/dist/js/select2.full.min.js"></script>
			<script src="./js/core.js"></script>
		{% endblock %}
	</head>
	<body>
		{% block body %}
		{% endblock %}
	</body>
</html>