<p>Users of the database are warned that some records document research into people and cultures using scientific research models and language from the 19th and 20th centuries. These depicted people in ways that are outdated and offensive.

Users should also be aware that the database contains images of nakedness, ritual, or ceremonial activity that may not yet be classified as public, as well as staged settings, including those for scientific purposes. In some indigenous communities there may be prohibitions relating to the age, gender, initiation and ceremonial status or clan of the person who may see them. The database also contains the names of deceased persons, which may cause sadness or distress, particularly to relatives of these people.

Take-down policy
The Museum's database is an important source of historical research information which the University of Oxford makes available to all for the benefit of scholarly and community access. Whilst open access is our guiding principle and default position, the Museum operates a take-down policy in which web access is restricted if appropriate. Users wishing to request that the web access to certain images is restricted should contact the Museum for further discussion.

Reusing images and metadata
The Africamuseum makes its research metadata and collections images available on the basis that it is used for private research and teaching.

The images and metadata of this database are reusable under a Creative Commons CC BY-NC-ND 4.0 licence, meaning that you are free to share the material but must give appropriate credit to the "PROCHE project Africamuseum" as the source, and not use the material commercially nor alter the images in any way without additional permissions. We additionally request that you use the accession number of the photograph to allow for accurate identification. 

Licensing and high-resolution images
If you wish to order a high-resolution image and/or licence its use for print or web publication, exhibition, film, promotional product or any other use, whether in the academic or commercial sector of any print run, then please visit photographic services or email xxx@africamuseum.be for further information.

Can you help improve the documentation?
If you have information about any image in this database that might help the Museum understand it better, then we would be delighted to hear from you. Please get in touch with the curator via xxx@africamuseum.be.
</p>